@keyframes blink{
    0%{
        border-color: transparent;
    }
    100%{
        border-color: rgb(170, 170, 170);
    }
}

@keyframes type{
    0%{
        width: (16rem);
        transform: translateX(0%);
    }
    100%{
        width: (0rem);
        transform: translateX(100%);
    }
}
.blink{
    white-space: nowrap;
    animation: blink 500ms infinite normal steps(40), type 2s infinite normal steps(40);
    border-right: 1px solid #fff;
}

.blink h2{
    margin: 0;
}