@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

body{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background-color: #333;
}
header{
    background-color: #333;
    height: 50px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1{
    font-size: 2rem;
    color: rgb(207, 174, 27);
}
section{
    width: 40vw;
    margin: 0 auto;
    margin-bottom: 25px;
   
}

.container{
    background-color: aliceblue;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px #333;
    height: 100%;
    border-radius: 15px;
}
form{
    display: flex;
    flex-flow: column;
    margin-top: 10vh;
    padding-bottom: 50px;
    align-items: center;
    justify-content: center;
}

form input{
    margin-bottom: 25px;
    width: min(30vw, 250px);
    font-size: 1.6rem;
    border: 3px solid #ccc;
    border-radius: 25px;
    outline: none;
    padding: 0 15px;
}

form input:focus{
    transition: 500ms;
    border: 3px solid rgb(207, 174, 27);
}

form h2{
    font-size: max(3vw, 1.6rem);
}

form button, .button{
    padding: 8px;
    margin: 10px;
    border-radius: 5px;

    border: 2px solid rgb(123, 19, 219);
    background-color: blueviolet;
    color: #fff;
    box-shadow: 1px 1px 3px #333;

    text-shadow: 1px 1px 5px #333;
    text-decoration: none;
    font-size: 1.3rem;
}

form button p{
    margin: 0;
}


@media(max-width: 600px){
    section{
        width: 80vw;
    }
}

@keyframes op{
    0%{
        opacity: 100%;
    }
    50%{
        opacity: 50%;
    }
    100%{
        opacity: 0%;
    }
}

.op{
    animation: op 500ms backwards;
}
.block{
    display: none;
}
@keyframes load{
    0%{
        transform: rotate(360deg);
    }
}

.load_ani{
    animation: load 2s infinite normal;
}